In [1]:
# let's import pandas library and set options to be able to view data right in the browser
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import matplotlib.style as style
from matplotlib import pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 1000)
style.use('fivethirtyeight')
import numpy as np

In [2]:
rent_df_cleaned = pd.read_csv('cleaned_dataset.csv')

In [3]:
rent_df_cleaned.head()

        first_day_exposition        last_day_exposition  last_price  floor  open_plan  rooms  studio  area  agent_fee  renovation  last_price_log
0  2015-01-24T00:00:00+03:00  2016-01-19T00:00:00+03:00     20000.0      7          0      1       0  28.0      100.0         3.0        9.903488
1  2015-11-17T00:00:00+03:00  2016-03-04T00:00:00+03:00     24000.0      4          0      2       0  59.0      100.0         3.0       10.085809
2  2015-11-17T00:00:00+03:00  2016-04-24T00:00:00+03:00     18000.0      6          0      1       0  36.0      100.0         3.0        9.798127
3  2016-02-04T00:00:00+03:00  2016-02-28T00:00:00+03:00     18000.0      8          0      1       0  39.0       90.0         0.0        9.798127
4  2016-02-28T00:00:00+03:00  2016-04-02T00:00:00+03:00     19000.0      3          0      1       0  36.0       50.0        11.0        9.852194

In [4]:
rent_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155391 entries, 0 to 155390
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   first_day_exposition  155391 non-null  object
 1   last_day_exposition   155391 non-null  object
 2   last_price            155391 non-null  float64
 3   floor                 155391 non-null  int64
 4   open_plan             155391 non-null  int64
 5   rooms                 155391 non-null  int64
 6   studio                155391 non-null  int64
 7   area                  155391 non-null  float64
 8   agent_fee             122840 non-null  float64
 9   renovation            155391 non-null  float64
 10  last_price_log        155391 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 13.0+ MB

In [5]:
rent_df_cleaned['renovation'] = rent_df_cleaned['renovation'].astype(int)

In [6]:
rent_df_cleaned.head()

        first_day_exposition        last_day_exposition  last_price  floor  open_plan  rooms  studio  area  agent_fee  renovation  last_price_log
0  2015-01-24T00:00:00+03:00  2016-01-19T00:00:00+03:00     20000.0      7          0      1       0  28.0      100.0           3        9.903488
1  2015-11-17T00:00:00+03:00  2016-03-04T00:00:00+03:00     24000.0      4          0      2       0  59.0      100.0           3       10.085809
2  2015-11-17T00:00:00+03:00  2016-04-24T00:00:00+03:00     18000.0      6          0      1       0  36.0      100.0           3        9.798127
3  2016-02-04T00:00:00+03:00  2016-02-28T00:00:00+03:00     18000.0      8          0      1       0  39.0       90.0           0        9.798127
4  2016-02-28T00:00:00+03:00  2016-04-02T00:00:00+03:00     19000.0      3          0      1       0  36.0       50.0          11        9.852194

In [7]:
rent_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155391 entries, 0 to 155390
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   first_day_exposition  155391 non-null  object
 1   last_day_exposition   155391 non-null  object
 2   last_price            155391 non-null  float64
 3   floor                 155391 non-null  int64
 4   open_plan             155391 non-null  int64
 5   rooms                 155391 non-null  int64
 6   studio                155391 non-null  int64
 7   area                  155391 non-null  float64
 8   agent_fee             122840 non-null  float64
 9   renovation            155391 non-null  int64
 10  last_price_log        155391 non-null  float64
dtypes: float64(4), int64(5), object(2)
memory usage: 13.0+ MB

In [8]:
rent_df_cleaned['first_day_exposition'] = pd.to_datetime(rent_df_cleaned.first_day_exposition)

In [9]:
rent_df_cleaned['last_day_exposition'] = pd.to_datetime(rent_df_cleaned.last_day_exposition)

In [10]:
rent_df_cleaned['offer_time'] = (rent_df_cleaned['last_day_exposition'] - rent_df_cleaned['first_day_exposition']).dt.days

In [11]:
rent_df_cleaned.head()

       first_day_exposition       last_day_exposition  last_price  floor  open_plan  rooms  studio  area  agent_fee  renovation  last_price_log  offer_time
0 2015-01-24 00:00:00+03:00 2016-01-19 00:00:00+03:00     20000.0      7          0      1       0  28.0      100.0           3        9.903488         360
1 2015-11-17 00:00:00+03:00 2016-03-04 00:00:00+03:00     24000.0      4          0      2       0  59.0      100.0           3       10.085809         108
2 2015-11-17 00:00:00+03:00 2016-04-24 00:00:00+03:00     18000.0      6          0      1       0  36.0      100.0           3        9.798127         159
3 2016-02-04 00:00:00+03:00 2016-02-28 00:00:00+03:00     18000.0      8          0      1       0  39.0       90.0           0        9.798127          24
4 2016-02-28 00:00:00+03:00 2016-04-02 00:00:00+03:00     19000.0      3          0      1       0  36.0       50.0          11        9.852194          34

In [12]:
# select all offers added the first 3 months of 2018 as train dataset.
# '&' means 'and' and should be used when both conditions are satisfied
# pay attention that it's better always to put conditions in brackets to embrace the right priority of operations
train_df = rent_df_cleaned[(rent_df_cleaned.first_day_exposition >= '2018-01-01') 
                          & (rent_df_cleaned.first_day_exposition < '2018-04-01')]

In [13]:
len(train_df)

16974

In [14]:
# select all offers added in april and may 2018 as test dataset.
test_df = rent_df_cleaned[(rent_df_cleaned.first_day_exposition >= '2018-04-01') 
                          & (rent_df_cleaned.first_day_exposition < '2018-06-01')]

In [15]:
len(test_df)

14974

In [16]:
# let's use latest data from 2018-06-01 as a hodout dataset to simulate how algorithms would
# behave in production
holdout_df = rent_df_cleaned[rent_df_cleaned.first_day_exposition >= '2018-06-01']

In [17]:
len(holdout_df)

21112

In [18]:
train_df.head()

        first_day_exposition       last_day_exposition  last_price  floor  open_plan  rooms  studio  area  agent_fee  renovation  last_price_log  offer_time
8  2018-01-05 00:00:00+03:00 2018-01-16 00:00:00+03:00     26000.0     12          0      1       0  36.0        NaN           0       10.165852          11
24 2018-01-20 00:00:00+03:00 2018-02-28 00:00:00+03:00     17500.0      9          0      1       0  32.0       50.0           1        9.769956          39
25 2018-02-09 00:00:00+03:00 2018-03-03 00:00:00+03:00     16000.0      4          0      1       0  38.0       90.0           0        9.680344          22
26 2018-03-19 00:00:00+03:00 2018-04-18 00:00:00+03:00     22000.0     12          0      1       0  32.0        NaN           0        9.998798          30
27 2018-03-26 00:00:00+03:00 2018-03-30 00:00:00+03:00     20000.0      5          0      1       0  32.0       50.0           0        9.903488           4

In [19]:
train_df.drop(columns=['first_day_exposition','last_day_exposition','last_price_log', 'agent_fee'], inplace=True)
test_df.drop(columns=['first_day_exposition','last_day_exposition', 'last_price_log', 'agent_fee'], inplace=True)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [20]:
train_df.head()

    last_price  floor  open_plan  rooms  studio  area  renovation  offer_time
8      26000.0     12          0      1       0  36.0           0          11
24     17500.0      9          0      1       0  32.0           1          39
25     16000.0      4          0      1       0  38.0           0          22
26     22000.0     12          0      1       0  32.0           0          30
27     20000.0      5          0      1       0  32.0           0           4

In [21]:
from sklearn import metrics

In [22]:
X_train = train_df.drop('last_price', axis=1)
y_train = train_df['last_price']
X_valid = test_df.drop('last_price', axis=1)
y_valid = test_df['last_price']
y_train= y_train.values.reshape(-1,1)
y_valid= y_valid.values.reshape(-1,1)
print(X_train)

        floor  open_plan  rooms  studio  area  renovation  offer_time
8          12          0      1       0  36.0           0          11
24          9          0      1       0  32.0           1          39
25          4          0      1       0  38.0           0          22
26         12          0      1       0  32.0           0          30
27          5          0      1       0  32.0           0           4
...       ...        ...    ...     ...   ...         ...         ...
154884      2          0      1       0  46.0          11         143
154921      6          0      2       0  50.0          11         176
155028      4          0      3       0  66.0          11         165
155079      4          0      2       0  52.0           0         132
155271      1          0      2       0  46.0           0         193

[16974 rows x 7 columns]

In [23]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()

X_train = sc_X.fit_transform(X_train)
X_valid = sc_X.fit_transform(X_valid)
y_train = sc_y.fit_transform(y_train)
y_valid = sc_y.fit_transform(y_valid)

In [24]:
X_train.shape, y_train.shape

((16974, 7), (16974, 1))

In [25]:
##Building random forest regressor

In [26]:
import xgboost as xgb

In [27]:
xgboost_model = xgb.XGBRegressor(objective="reg:linear", random_state=99)
# train the model on training dataset
xgboost_model.fit(X_train, y_train)
predictions = xgboost_model.predict(X_valid)
print('MAE:', metrics.mean_absolute_error(y_valid, predictions))
print('MSE:', metrics.mean_squared_error(y_valid, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_valid, predictions)))

[16:27:04] WARNING: ../src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.
MAE: 0.37168259015263216
MSE: 0.446780861069617
RMSE: 0.6684166822197192

In [ ]:
##Save the model, encoder and the scaler as a pipeline

In [28]:
import joblib

In [ ]:
xgboost_model.save_model('model.json')

In [29]:
model_file = 'model.pkl'
scaler_x = 'scaler_x.pkl'
scaler_y = 'scaler_y.pkl'
joblib.dump(sc_X, scaler_x)
joblib.dump(sc_y, scaler_y)
joblib.dump(xgboost_model, model_file)

['model.pkl']

In [30]:
sc_y.inverse_transform(X_valid[0])

array([14857.34699652, 28457.49686123, 20274.45194545, 21596.96683618,
       18402.66434523, 18500.37016272, 17792.62704576])